<!DOCTYPE html>
<html>
	<head>
        <!-- 3rd party code -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

        <!-- custom code -->
		<script src="//treetopflyer.github.com/vcore/lib.js"></script>
        <script src="rbm.js"></script>
        <script src="ngCanvas.js"></script>
        
        <style>
            *
            {
                margin:0;
                padding:0;
                border:0;
                font-family:Arial, Helvetica, sans-serif;
            }
            body
            {
                background:#ddd;
            }
            dl
            {
                overflow:hidden;
            }
            dd
            {
                float:left;
                width:50px;
                border:1px solid #00f;
                margin:5px;
                background:#00f;
            }
            dd canvas
            {
                width:100%;
                height:auto;
            }
        </style>
	</head>
	<body>
        <div class="container" ng-app="DatApp" ng-controller="DatAppController">

            <dl>
                <dt><h3>Training Data</h3></dt>
                <dd ng-repeat="vector in Layer.Input.Data">
                    <canvas ng-draw-vector="vector" ng-draw-size="Cuts.Size"></canvas>
                </dd>
            </dl>

            <div class="row">
                <h3>RBM Training</h3>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Iterations</div>
                            <input type="number" class="form-control" ng-model="Layer.Training.Iterations" min="0" max="1000" step="100">
                            <div class="input-group-addon">Rate</div>
                            <input type="number" class="form-control" ng-model="Layer.Training.Rate" min="0" step="0.0001">
                            <div class="input-group-addon">CD-n</div>
                            <input type="number" class="form-control" ng-model="Layer.Training.CDn" min="1">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="Layer.Train();">Train/Continue Training</button>
                </form>
            </div>
            <div class="row">
                <dl>
                    <dt><h3>Matrix Weights</h3></dt>
                    <dd ng-repeat="vector in Layer.Output.Weights">
                        <canvas ng-draw-vector="vector" ng-draw-size="Cuts.Size"></canvas>
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt><h3>Reconstructions</h3></dt>
                    <dd ng-repeat="vector in Layer.Output.Labels">
                        <canvas ng-draw-vector="vector" ng-draw-size="Cuts.Size"></canvas>
                    </dd>
                </dl>
            </div>
        </div>
<script>
angular.module("DatApp", ["ngCanvas"])
.factory("Layer", [function()
{
    return function(inSizeIn, inSizeOut)
    {
        var obj = {};

        obj.Config = {
            Size:{
                In: inSizeIn,
                Out: inSizeOut,
            },
            Visible:{
                Noise: RBM.Noise.Bernoulli,
                Deform: RBM.Deform.Sigmoid,
            },
            Hidden:{
                Noise: RBM.Noise.Bernoulli,
                Deform: RBM.Deform.Sigmoid,
            }
        };
        obj.RBM = {};
        obj.Training = {
            Iterations: 100,
            Rate: 0.001,
            CDn:1
        },
        obj.Input = {
            Data:[],
            Labels:[],
        };
        obj.Output = {
            Labels : [],
            Weights : [],
            Fabrications : []
        };
        obj.Build = function()
        {
            obj.RBM = RBM.Create(obj.Config.Size.In, obj.Config.Size.Out);
            obj.RBM.NoiseHidden = obj.Config.Hidden.Noise;
            obj.RBM.NoiseVisible = obj.Config.Visible.Noise;
            obj.RBM.DeformHidden = obj.Config.Hidden.Deform;
            obj.RBM.DeformVisible = obj.Config.Visible.Deform;
        };
        obj.Train = function()
        {
            RBM.Train(
                obj.RBM, //train this network
                obj.Input.Data, //on this data
                obj.Training.Iterations, //for this many interations
                obj.Training.CDn, //using this CDn
                obj.Training.Rate //at this learning rate
            );
            obj.Output.Weights = M.Sigmoid(M.Unpad(M.Clone(obj.RBM.MatrixForward)));
            obj.Output.Fabrications = RBM.Fabricate(obj.RBM, obj.Input.Data, 1);
            obj.Output.Labels = RBM.Label(obj.RBM, obj.Input.Data, 1);
        };
        obj.Build();
        return obj;
    }
}])
.controller("DatAppController", ["$scope", "Bytes", "CutUp", "Layer", function($scope, Bytes, CutUp, Layer)
{

    $scope.Cuts = {
        Image: "raster/manyDigits3.png",
        Size: [20, 20],
        Gap: [0, 0]
    };


    $scope.Layers = [];
    $scope.Layer = Layer(400, 20);

    CutUp($scope.Cuts.Image, $scope.Cuts.Size, $scope.Cuts.Gap, function(inSlices)
    {
        $scope.Layer.Input.Data = inSlices;
        $scope.$apply();
    });

}]);

</script>
	</body>
</html>