<!DOCTYPE html>
<html>
	<head>
        <!-- 3rd party code -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

        <!-- custom code -->
		<script src="//treetopflyer.github.com/vcore/lib.js"></script>
        <script src="rbm.js"></script>
        <script src="ngCanvas.js"></script>
        
        <style>
            *
            {
                margin:0;
                padding:0;
                border:0;
                font-family:Arial, Helvetica, sans-serif;
            }
            body
            {
                background:#ddd;
            }
            dl
            {
                overflow:hidden;
            }
            dd
            {
                float:left;
                width:50px;
                border:1px solid #00f;
                margin:5px;
                background:#00f;
            }
            dd canvas
            {
                width:100%;
                height:auto;
            }
        </style>
	</head>
	<body>
        <div class="container" ng-app="DatApp" ng-controller="DatAppController">
            <div class="row">
                <h3>RBM Training</h3>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Iterations</div>
                            <input type="number" class="form-control" ng-model="Config.Training.Iterations" min="0" max="1000" step="100">
                            <div class="input-group-addon">Rate</div>
                            <input type="number" class="form-control" ng-model="Config.Training.Rate" min="0" step="0.0001">
                            <div class="input-group-addon">CD-n</div>
                            <input type="number" class="form-control" ng-model="Config.Training.CDn" min="1">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="Train();">Train/Continue Training</button>
                </form>
                <button type="submit" class="btn btn-primary" ng-click="Data2();">Prep second layer</button>
                <button type="submit" class="btn btn-primary" ng-click="Train2();">Train second layer</button>
            </div>
            <div class="row">
                <dl>
                    <dt><h3>Matrix Weights</h3></dt>
                    <dd ng-repeat="vector in OutputWeights">
                        <canvas ng-draw-vector="vector" ng-draw-size="Cuts.Size"></canvas>
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt><h3>Training Data</h3></dt>
                    <dd ng-repeat="vector in SetTraining">
                        <canvas ng-draw-vector="vector" ng-draw-size="Cuts.Size"></canvas>
                    </dd>
                </dl>
                <dl>
                    <dt><h3>Reconstructions</h3></dt>
                    <dd ng-repeat="vector in OutputFabrications">
                        <canvas ng-draw-vector="vector" ng-draw-size="Cuts.Size"></canvas>
                    </dd>
                </dl>
            </div>
        </div>
<script>
angular.module("DatApp", ["ngCanvas"])
.factory("Layer", [function()
{
    return {

    };
}])
.controller("DatAppController", ["$scope", "Bytes", "CutUp", function($scope, Bytes, CutUp)
{

    $scope.Cuts = {
        Image: "raster/manyDigits3.png",
        Size: [20, 20],
        Gap: [0, 0]
    };

    $scope.Config = {

        Training:{
            Iterations: 100,
            Rate: 0.001,
            CDn:1
        },
        Size:{
            In: $scope.Cuts.Size[0]*$scope.Cuts.Size[1],
            Out: 30,
        },
        Visible:{
            Noise: RBM.Noise.Gaussian,
            Deform: RBM.Deform.ReLU,
        },
        Hidden:{
            Noise: RBM.Noise.Gaussian,
            Deform: RBM.Deform.ReLU,
        }
    };
    $scope.RBM = {};
    $scope.SetTraining = [];
    $scope.OutputLabels = [];
    $scope.OutputWeights = [];
    $scope.OutputFabrications = [];

    $scope.Rebuild = function()
    {
        $scope.RBM = RBM.Create($scope.Config.Size.In, $scope.Config.Size.Out);
        $scope.RBM.NoiseHidden = $scope.Config.Hidden.Noise;
        $scope.RBM.NoiseVisible = $scope.Config.Visible.Noise;
        $scope.RBM.DeformHidden = $scope.Config.Hidden.Deform;
        $scope.RBM.DeformVisible = $scope.Config.Visible.Deform;
    };
    $scope.Train = function()
    {
        RBM.Train(
            $scope.RBM, //train this network
            $scope.SetTraining, //on this data
            $scope.Config.Training.Iterations, //for this many interations
            $scope.Config.Training.CDn, //using this CDn
            $scope.Config.Training.Rate //at this learning rate
        );
        $scope.OutputWeights = M.Sigmoid(M.Unpad(M.Clone($scope.RBM.MatrixForward)));
        $scope.OutputFabrications = RBM.Fabricate($scope.RBM, $scope.SetTraining, 1);
        $scope.OutputLabels = RBM.Label($scope.RBM, $scope.SetTraining, 1);
    };

    $scope.Rebuild();
    CutUp($scope.Cuts.Image, $scope.Cuts.Size, $scope.Cuts.Gap, function(inSlices)
    {
        $scope.SetTraining = inSlices;
        $scope.$apply();
    });

}]);

</script>
	</body>
</html>