<!DOCTYPE html>
<html>
	<head>
        <!-- 3rd party code -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

        <!-- custom code -->
		<script src="//treetopflyer.github.com/vcore/lib.js"></script>
        <script src="rbm.js"></script>
        <script src="ngCanvas.js"></script>
        
        <style>
            *
            {
                margin:0;
                padding:0;
                border:0;
                font-family:Arial, Helvetica, sans-serif;
            }
            body
            {
                background:#eee;
            }
            dl
            {
                overflow:hidden;
            }
            dd
            {
                float:left;
                width:50px;
            }
            dd canvas
            {
                width:100%;
                height:auto;
                border:1px solid #fa0;
            }
        </style>
	</head>
	<body>
        <div class="container" ng-app="DatApp" ng-controller="DatAppController">
            <div class="row">
                <h3>RBM Training</h3>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Iterations</div>
                            <input type="number" class="form-control" ng-model="Training.Iterations" min="0" max="1000" step="100">
                            <div class="input-group-addon">Rate</div>
                            <input type="number" class="form-control" ng-model="Training.Rate" min="0" max="1" step="0.01">
                            <div class="input-group-addon">CD-n</div>
                            <input type="number" class="form-control" ng-model="Training.CDn" min="1" max="100" step="1">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="Train(); Redraw();">Train/Continue Training</button>
                </form>
            </div>
            <div class="row">
                <dl>
                    <dt><h3>Matrix Weights</h3></dt>
                    <dd ng-repeat="image in ImagesMatrix">
                        <canvas ng-canvas ng-draw-bytes="image"></canvas>
                    </dd>
                </dl>
            </div>
            <div class="row">
                <canvas ng-canvas ng-load="Cuts.Image" ng-onload="Recut" ng-show="false"></canvas>
                <dl>
                    <dt><h3>Training Data</h3></dt>
                    <dd ng-repeat="image in ImagesSlices">
                        <canvas ng-canvas ng-draw-bytes="image"></canvas>
                    </dd>
                </dl>
                <dl>
                    <dt><h3>Reconstructions</h3></dt>
                    <dd ng-repeat="image in ImagesLabels">
                        <canvas ng-canvas ng-draw-bytes="image"></canvas>
                    </dd>
                </dl>
            </div>
        </div>
<script>
angular.module("DatApp", ["ngCanvas"])
.controller("DatAppController", ["$scope", "Bytes", function($scope, Bytes)
{
     /*
     \  Slice smaller training samples from a larger image
    */
    $scope.Cuts = {
        Image: "manyDigits.png",
        Size: [20, 20],
        Gap: [0, 0]
    }
    $scope.Recut = function(inBytes, inContext, inCanvas) //when the image data from the canvas is available, make the cuts
    {
        var x, y, b;
        for(y=0; y<(inCanvas.height); y+=($scope.Cuts.Size[1]+$scope.Cuts.Gap[1]) )
        {
            for(x=0; x<(inCanvas.width ); x+=($scope.Cuts.Size[0]+$scope.Cuts.Gap[0]))
            {
                if(x + $scope.Cuts.Size[0] > inCanvas.width || y + $scope.Cuts.Size[1] > inCanvas.height)
                    continue;

                b = inContext.getImageData(x, y, $scope.Cuts.Size[0], $scope.Cuts.Size[1]);
                $scope.ImagesSlices.push(b); //create a display of the slice...
                $scope.SetTraining.push(Bytes.BytesToVector(b)); //...and a vector version for training
            }
        }
    };

     /*
     \  RBM setup
    */
    $scope.Network = {
        Labels: 10,
        Visible: RBM.Sample.Gaussian,
        Hidden: RBM.Sample.Gaussian,
    };
    $scope.Rebuild = function()
    {
        $scope.RBM = RBM.Create($scope.Cuts.Size[0]*$scope.Cuts.Size[1], $scope.Network.Labels);
        $scope.RBM.SampleHidden = $scope.Network.Hidden;
        $scope.RBM.SampleVisible = $scope.Network.Visible;
    };

     /*
     \  RBM Training
    */
    $scope.Training = {
        Iterations: 100,
        Rate: 0.05,
        CDn:1
    };
    $scope.Train = function()
    {
        RBM.Train(
            $scope.RBM, //train this network
            $scope.SetTraining, //on this data
            $scope.Training.Iterations, //for this many interations
            $scope.Training.CDn, //using this CDn
            $scope.Training.Rate //at this learning rate
        );
    };

     /*
     \  Update canvases
    */
    $scope.Redraw = function()
    {
        var i;
        var extract;

        //run the RBM weight vectors through a sigmoid and rasterize them
        extract = M.Unpad(M.Sigmoid(M.Clone($scope.RBM.MatrixForward)));
        for(i=0; i<extract.length; i++)
        {
            $scope.ImagesMatrix[i] = Bytes.VectorToBytes(extract[i], $scope.Cuts.Size[0], $scope.Cuts.Size[1]);
        }

        //run the training set through the RBM to see the reconstructions
        extract = RBM.Fabricate($scope.RBM, $scope.SetTraining, 1);
        for(i=0; i<extract.length; i++)
        {
            $scope.ImagesLabels[i] = Bytes.VectorToBytes(extract[i], $scope.Cuts.Size[0], $scope.Cuts.Size[1]);
        }
    };

     /*
     \   Init
    */
    $scope.SetTraining = [];
    $scope.SetLabels = [];
    $scope.ImagesSlices = [];
    $scope.ImagesMatrix = [];
    $scope.ImagesLabels = [];
    $scope.Rebuild();
}]);
</script>
	</body>
</html>